{% extends 'main/base.html' %}
{% load static %}
{% block content %}
  <div class="text-center">
    <h1 class="display-4">Полезная информация</h1>
  </div>

  <div class="info-block">
    <h2>Блок 1: Основы 3D печати</h2>
    <div class="row align-items-center">
      <div class="col-md-6">
        <p class="text-justify">Итак, LCD и FDM являются двумя основными типами 3D-печати. В процессе LCD-печати жидкий смолоподобный материал полимеризуется при помощи ультрафиолетового света, что позволяет создавать детали с высокой детализацией и гладкой поверхностью. С другой стороны, FDM-печать осуществляется путем нагрева и нанесения пластичного материала (филамента) на платформу по слоям в соответствии с цифровой моделью, что делает ее более доступной и простой в использовании.

Оба типа печати могут использовать различные материалы. Например, для LCD-печати используются жидкие смолы различных типов, включая прозрачные, термостойкие и эластомерные смолы. С другой стороны, FDM-печать может использовать разнообразные материалы, такие как PLA, ABS, нейлон, поликарбонат и другие.

Независимо от типа печати, процесс 3D-печати осуществляется путем создания объекта по слоям на основе цифровой модели. При LCD-печати слои полимеризуются ультрафиолетовым светом, а при FDM-печати пластичный материал нагревается и наносится на платформу, затвердевая после каждого слоя. Таким образом, оба метода предоставляют возможность создания трехмерных объектов с использованием различных материалов и технологий.</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'main/img/printer_3d_dlja_doma_5.jpg'%}" class="img-fluid" alt="3D печать">
      </div>
    </div>
  </div>

  <div class="info-block">
    <h2>Блок 2: Типы 3D файлов</h2>
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="{% static 'main/img/STL-Gcode_50.png'%}" class="img-fluid" alt="Типы 3D файлов">
      </div>
      <div class="col-md-6">
        <p class="text-justify">STL (Stereolithography) - это формат файлов, который описывает геометрию трехмерного объекта для 3D-печати. Он содержит информацию о поверхностях объекта в виде множества треугольников.

G-code - это набор инструкций, который управляет движением печатающей головки и другими параметрами 3D-принтера для создания объекта на основе файла STL. Эти инструкции указывают принтеру, как и куда перемещаться, какой материал использовать и другие параметры процесса печати.</p>
      </div>
    </div>
  </div>

  <div class="info-block">
    <h2>Блок 3: Забытая калибровка </h2>
    <div class="row align-items-center">
      <div class="col-md-6">
        <p class="text-justify">Откалибровать 3D-принтер перед печатью включает в себя несколько ключевых шагов. Вот общий список действий для калибровки FDM (Fused Deposition Modeling) 3D-принтера:

1. Уровень печатной платформы: Убедитесь, что печатная платформа находится в правильной плоскости. Это важно для обеспечения равномерной адгезии первого слоя пластика к столу. Многие принтеры имеют ручные или автоматические системы уровняния.

2. Калибровка экструдера: Убедитесь, что ваш экструдер правильно калибруется, чтобы гарантировать, что он выдавливает нужное количество пластика.

3. Настройка температуры экструдера и стола: Установите оптимальные температуры для вашего материала. Различные материалы требуют разных температур экструзии и стола.

4. Проверка потока материала: Убедитесь, что пластик равномерно подается из экструдера без засорений или проблем.

5. Калибровка скорости печати: Настройте скорость печати в зависимости от вашего материала и требуемого качеств печати.

6. Проверка охлаждения: Убедитесь, что система охлаждения работает правильно, чтобы избежать деформации пластика из-за перегрева.

7. Проверка первого слоя: Особое внимание уделите первому слою, так как он является основой для всей модели. Убедитесь, что он правильно приклеивается к столу.

8. Тестовая печать: После всех этих шагов рекомендуется провести тестовую печать для проверки всех настроек и калибровки.
          ВНИМАНИЕ! Если материал требует нагреваемый стол - калибровка для печати без нагрева НЕ ПОДХОДЯТ. Калибровку нужно производить по новой!</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'main/img/leveling-printbed-3dprinter-5.jpg'%}" class="img-fluid" alt="Программы для 3D моделирования">
      </div>
    </div>
  </div>

  <!-- Repeat the pattern for each block of information -->
{% endblock %}