{% extends 'main/base.html' %}

{% block content %}
  <div class="about container text-center">
    <h1 class="display-4 fw-bold">О нас</h1>
    <ul class="list-group">
      <li class="list-group-item"><span class="fw-bold">Разработчик:</span> Михаил Витальевич К.</li>
      <li class="list-group-item"><span class="fw-bold">Почта:</span> <a href="mailto:[Mihahopnf5@gmail.com]" class="text-decoration-none">Mihahopnf5@gmail.com</a></li>
      <li class="list-group-item"><span class="fw-bold">Телефон:</span> +7-900-077-85-84 </li>
      <li class="list-group-item"><span class="fw-bold">Телеграм:</span> <a href="https://t.me/Cerletri" class="text-decoration-none"> @Cerletri </a></li>
      <li class="list-group-item"><span class="fw-bold">Время для связи:</span> C 18:00 до 00:00 </li>
    </ul>
  </div>
{% endblock %}